<a href="https://colab.research.google.com/github/rodrigowe1988/Portfolio-Data-Science/blob/main/Fa%C3%A7a_voc%C3%AA_mesmo_Python_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercício em Python
##Curso de Engenharia de Dados Udemy - Seção 10

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/tempo.csv', sep=';')
df.head(14)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [2]:
print(f'O dataframe possui {df.shape[0]} linhas e {df.shape[1]} colunas.')

O dataframe possui 14 linhas e 5 colunas.

###Tratar os dados do dataframe 'tempo.csv'
###1. Coluna Aparencia recebe somente valores 'sol', 'nublado' e 'chuva'

In [3]:
#ver os dados únicos da coluna Aparencia para descobrir os erros
df.Aparencia.value_counts()

chuva      5
sol        5
nublado    3
menos      1
Name: Aparencia, dtype: int64

In [4]:
df.loc[df.Aparencia.isin(['menos']), 'Aparencia'] = 'sol'
df.Aparencia.value_counts()

sol        6
chuva      5
nublado    3
Name: Aparencia, dtype: int64

Perceba que somente coloquei 'sol' como dado pois a coluna Vento está como verdadeiro. Em caso de vento verdadeiro, somente pode jogar em dias nublados e com sol. Como temos um número maior de dias com sol, utilizamos ele por ser a moda cabível ao exemplo acima.

###2. Temperatura somente entre -130ºF e 130ºF

In [5]:
#quantas vezes cada resultado aparece
df.Temperatura.value_counts()

75      2
1220    1
85      1
83      1
81      1
80      1
72      1
71      1
70      1
69      1
68      1
65      1
64      1
Name: Temperatura, dtype: int64

Caso queira calcular a média é preciso retirar o valor 1220 que torna o cálculo totalmente diferente.

In [6]:
#temperaturas válidas, retirado o valor 1220
temp_validas = df.Temperatura[df.Temperatura <= 130]
temp_validas.mean()

73.6923076923077

In [7]:
#calculando a média sem retirar o 1220
df.Temperatura.mean()

155.57142857142858

Repare que isso faz a média ficar com mais do dobro de valor.

In [8]:
#calculando a mediana
mediana = df.Temperatura.median()
mediana

73.5

In [9]:
#trocando o valor 1220 pela mediana
df.loc[df.Temperatura > 130, 'Temperatura'] = mediana
df.Temperatura.value_counts()

75.0    2
71.0    1
81.0    1
72.0    1
69.0    1
73.5    1
64.0    1
65.0    1
68.0    1
70.0    1
83.0    1
80.0    1
85.0    1
Name: Temperatura, dtype: int64

###3. Umidade somente aceita dados entre 0 e 100

In [10]:
df.Umidade.value_counts()

70.0     3
90.0     2
91.0     1
75.0     1
200.0    1
95.0     1
65.0     1
80.0     1
86.0     1
85.0     1
Name: Umidade, dtype: int64

Perceba que uma das unidades de umidade apresenta o valor 200, como esse valor se refere a porcentagem de umidade do ar, o número máximo é 100.

In [11]:
mediana_umidade = df.Umidade.median()
mediana_umidade

85.0

In [16]:
df.loc[df.Umidade >= 100, 'Umidade'] = mediana_umidade
df.Umidade.fillna(mediana_umidade, inplace=True)
df.Umidade.value_counts()

70.0    3
85.0    3
90.0    2
91.0    1
75.0    1
95.0    1
65.0    1
80.0    1
86.0    1
Name: Umidade, dtype: int64

###4. Tratar os valores NA

In [17]:
df.head(14)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     85.0       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6        sol         64.0     65.0  VERDADEIRO   sim
7        sol         73.5     95.0       FALSO   nao
8        sol         69.0     70.0       FALSO   sim
9      chuva         75.0     85.0         NaN   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao

In [18]:
#quantidade de valores nulos ainda na tabela
df.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          1
Jogar          0
dtype: int64

In [20]:
df.Vento.fillna('FALSO', inplace=True)
df.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

In [21]:
df.head(14)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     85.0       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6        sol         64.0     65.0  VERDADEIRO   sim
7        sol         73.5     95.0       FALSO   nao
8        sol         69.0     70.0       FALSO   sim
9      chuva         75.0     85.0       FALSO   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao